@import url('https://fonts.googleapis.com/css2?family=Geo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
/*initialize constants*/
:root {
  --text-color: rgb(99, 98, 98);
  --font-main: 'Geo', sans-serif;
  --font-header: 'Orbitron', sans-serif;
}

.link-style{
  text-decoration: none;
  color: inherit;
}
/*top of screen design*/
.grid-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: repeating-linear-gradient(
    45deg,
    #dad5c9,
    #dad5c9 2px,
    #000 2px,
    #000 10px
  );
}
/*default formatting*/
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: #dad5c9;
  color: var(--text-color);
  overflow-x: hidden;
}
/*aesthetic tag formatting bottom right*/
.corner-tag {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: black;
  color: white;
  font-family: monospace;
  padding: 0px 0px;
  font-size: 14px;
  z-index: 999;
}
/*adsjust fullscreen size*/
.fullscreen {
  width: 100vw;
  height: 95vh;
  position: relative;
  background-color: #dad5c9;
}
/*where my name will show + spacing and cursor settings*/
.center-name {
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  cursor: default;
}
/*my name text formatting*/
.center-name h1 {
  font-family: var(--font-header);
  font-size: 4.5em;
  color: black;
  font-weight: bold;
  margin: 0;
  cursor: default;
}
/*where portfolio will show + spacing and cursor settings*/
.center-Welcome {
  position: absolute;
  top: 30%;
  left: 18.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  cursor: default;
}
/*portfolio text formatting*/
.center-Welcome h2 {
  font-family: var(--font-header);
  font-size: 2.5em;
  color: black;
  font-weight: bold;
  margin: 0;
  cursor: default;
}
/*title bout me and links font size and cursor settings */
.title-block,
.about-block,
.link-block{
  position: absolute;
  font-size: 1.5em;
  cursor: default;
}
/*title location*/
.title-block {
  bottom: 16em;
  right: 15.2em;
  text-align: right;
}
/*about me location */
.about-block {
  top: 4em;
  right: 15.2em;
  text-align: left;
}
/*link location*/
.link-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 16em;
  left: 9em;
  position: absolute;
  text-align: left;
}
/*project page heading text formatting*/
.link-block a {
  display: inline;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.5em;
  margin: 0.5em 0;
}
/*title and about me text formatting*/
.title-block p,
.about-block p
{
  font-size: 1.5em; 
  margin: 0 0 0.5em 0;
  cursor: default;
}

/*title and about me text formatting*/
.title-block p
{
  color: #000;
  font-size: 1.5em; 
  margin: 0 0 0.5em 0;
  cursor: default;
}
/*non link text formatting*/
.link-block p
{
  display:inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  margin: 0.5em 0;
  text-align: left;
}
/*individual link fromatting*/
.line-text,
.linkPP,
.linkI a,
.linkG a,
.linkR a,
.linkE a,
.linkP a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  margin: 0.2em 0;
  text-align: left;
}
/*individual link spacing and cursor setting*/
.linkPP,
.linkI,
.linkG,
.linkR,
.linkE,
.linkP 
{
  cursor: pointer;
  margin: 0.2em 0;
  display: inline-block;
}

/*Center media if screen is below certain size for mobile optimization*/
@media (max-width: 1570px) {
  .fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
  }
  .center-name h1
  {
    font-size: 2.5em;
  }
  .center-name
  {
    order:1;
    position: static;
    transform: none;
    margin-top: 4em;
    margin-right: 1.0em;
  }
  .about-block
  {
    order:2;
    position: static;
    text-align: left;
    margin-top: 1.0em;
    margin-right: 11.5em;
    font-size: 1.2em;
  }
  .title-block
  {
    display: none;
  }
  
  .center-Welcome
  {
    order:4;
    position: static;
    text-align: center;
    margin-top: 1.5em;
    font-size: 0.94em;
  }
    .link-block
  {
    order:5;
    position: static;
    text-align: center;
  font-size: 1.2em;
  }
}
